.input-reset-wrapper {
	position: relative;
}
.input-reset-wrapper {
	margin-top: 10px;
}
.length-container {
	position: absolute;
	right: 3%;
	color: #949494;
	font-size: 22px;
	font-weight: 500;
}
.reset-pass-items {
	margin-top: 10vh;
	width: 350px;
	height: 250px;
}
.reset-pass-items div {
	width: 100%;
}
.reset-pass-items input {
	color: #535353;
	padding: 10px;
	padding-right: 85px;
	border-radius: 10px;
	border: none;
	background: #F3F3F3;
	width: 100%;
	font-size: 24px;
	font-weight: 500;
}
.accept-reset-pass {
	margin-top: 10px;
	font-weight: 500;
	cursor: pointer;
	background: #3DBC8E;
	padding: 8px 0 8px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 24px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.error-pass {
	color: #FF2F1B;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.active-label {
	visibility: visible;
	opacity: 1;
}